:root {
    --font-size: 18px;
    --font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family-serif);
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans);
}

.main {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    gap: 1em;
    box-sizing: border-box;
    text-align: center;
}

.main > header h1 {
    font-size: 2.5em;
    margin: 0;
}

.main > header, .main > footer {
    padding: 1em;
}

.show-more-link, .show-more-link:active, .show-more-link:visited {
    color: inherit;
    text-decoration: none;
    font-family: var(--font-family-sans);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.show-more-link svg .arrow {
    stroke: black;
    stroke-width: 2;
    fill: transparent;
}

.chart-section {
    flex: 1;
    display: grid;
    overflow: hidden;
    background: hsl(0deg 0% 95%);
    padding: 1em;
}

#chart {
    box-sizing: border-box;
    overflow: hidden;
}

#chart .chart-line {
    fill: #8EF9F3;
}

#chart .divider, #chart .divider-handle {
    stroke: hsl(0deg 0% 50%);
    cursor: move;
}

#chart .divider {
    stroke-width: 3;
    cursor: move;
}

#chart .divider-handle {
    stroke-width: 2;
    fill: transparent;
}

#chart .axis {
    stroke: hsl(0deg 0% 50%);
    stroke-width: 3;
}

#chart .left-area, #chart .right-area {
    clip-path: url(#graphPath);
}

#chart .left-area {
    fill: #5EFC8D;
}

#chart .right-area {
    fill: #8EF9F3;
}

#chart text {
    font-family: var(--font-family-sans);
    font-size: var(--font-size);
    font-weight: bold;
    text-anchor: middle;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}
