:root {
    --font-size: 18px;
    --font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family-serif);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans);
}

.main {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    gap: 1em;
    box-sizing: border-box;
    text-align: center;
}

.main > header h1 {
    font-size: 2.5em;
}

.main > header, .main > footer {
    padding: 1em;
}

.chart-section {
    flex: 1;
    display: grid;
    overflow: hidden;
    background: hsl(0deg 0% 95%);
    padding: 1em;
}

#chart {
    box-sizing: border-box;
    overflow: hidden;
}

#chart .chart-line {
    fill: transparent;
    stroke: hsl(0deg 0% 25%);
    stroke-width: 3;
}

#chart .divider, #chart .divider-handle {
    stroke: hsl(0deg 0% 50%);
    cursor: move;
}

#chart .divider {
    stroke-width: 3;
    cursor: move;
}

#chart .divider-handle {
    stroke-width: 2;
    fill: transparent;
}

#chart text {
    font-family: var(--font-family-sans);
    font-size: var(--font-size);
    font-weight: bold;
    text-anchor: middle;
}

.content {
    max-width: 800px;
    margin: 0 auto 4em auto;
    padding: 1em;
}
